p {
  font-family: Georgia;
  font-size: 12px;
  color: black;
}

div.chapter {
  font-family: Merriweather, serif;
  font-size: 25px;
  color: red;
}

div.paragraph > p {
  font-family: Merriweather, serif;
  font-size:16px;
  color: red;
}
